<div class = "main_wrapper">
<div class = "wrapper">
  <div class = "question_time">
    <h1> WHAT TIME DO YOU GET OFF WORK?</h1>
  </div>
      <div class = "anwser_wrapper">
        <div class= "answser">
        <%= form_tag durations_path do %>
          <%= select_time Time.now, {prefix: :time_off_hash, minute_step: 5} %>
          <%= submit_tag "Go!" %>
        <% end %>
      </div>
      </div>
</div>
</div>
